/* El siguiente Css es usado para sobrescribir los valores predeterminados de la plantilla */


/*////////////////////////////////////////////////////////////////
//                           Header                             //
////////////////////////////////////////////////////////////////*/

.panel-header {
    background-color: #F4F3EF;
    background-image: linear-gradient(115deg, #f4f3efd8 0%, #F4F3EF 90%);
}

.navbar .navbar-brand {
    font-weight: bold;
}

/*////////////////////////////////////////////////////////////////
//                      Barra Laterial                          //
////////////////////////////////////////////////////////////////*/

.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper{
    padding-bottom: 0px;
}

.sidebar[data-color="black"]:after, .off-canvas-sidebar[data-color="black"]:after {
    background: #0F2027;  /* Se deja un fondo por si el navegador no acepta los gradientes */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

/*////////////////////////////////////////////////////////////////
//                      Menú Principal                          //
////////////////////////////////////////////////////////////////*/

.main-panel > .content {
    margin-top: -50px
}

/*////////////////////////////////////////////////////////////////
//                           Footer                             //
////////////////////////////////////////////////////////////////*/

.footer{
    padding: 0;
}

/*//////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
////                   agregarDatos.html                          //
////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////*/

.agregarDatos .main-panel > .content {
    margin-top: 90px
}

/*Cambio de formatos de sweet alert*/

div.swal2-container button.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgba(81, 203, 206, 0.5);
}

div.swal2-container button.swal2-styled.swal2-default-outline:focus {
    box-shadow: 0 0 0 3px rgba(200, 100, 100, 0.5);
}

div.swal2-container button.swal2-styled.swal2-confirm {
    background-color: rgb(81, 203, 206);
}

/*//////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
////                      verDatos.html                           //
////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////*/

.table-container{
    overflow: auto;
    max-height: 54vh; /* Altura máxima deseada para la tabla */
}

/*Modificamos el tipo de cursor*/
.tablaVerRegistro th{
    cursor: pointer;
}

.girar{
    transform: rotate(180deg)
}
